$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #666666;
$cursor: #fff;

.login-container {
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  background-image: url(@/assets/images/login-bg.jpg);
  background-size: cover;
  overflow: hidden;
  h3 {
    text-align: center;
    color: #666666;
    margin: 560px 0 40px -60%;
    margin-left: -69%;
  }
  &-form {
    position: relative;
    width: 380px;
    padding-top: -60px;
    margin-left: 10%;
    overflow: hidden;
    &-btn {
      width: 380px;
      height: 40px;
      margin-top: 20px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      background-color: #1859e9;
    }

  }
}

